{% extends "base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/project.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/chip.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper scroll-wrapper">
  
        <div class="heading">
            <div class="title">{{ project['name'] }}</div>

            <div class="date">{{ project['date'] }}</div>

            <div class="md-chips">
                {% for tag in project['tags'] %}
                <div class="md-chip md-chip-clickable"><a class="md-chip-link" href="/projects?tags={{tag}}">{{tag}}</a>
                </div>
                {% endfor %}
            </div>

            <div class="links">
                {% if 'github' in project %}
                <div><a class="github" href={{project['github']}}>Find on Github</a></div>
                {%else%}
                <div>Project Code Available Upon Request</div>
                {% endif %}
            </div>
        </div>
        <div class="content">{{ project['description'] | safe }}</div>
    </div>

</div>
{% endblock %}