{% extends "base.html" %}


{%block body%}

<br> <br> <br> <br> 

<div>

<span> Hi! Thanks for checking out my resume. </span> <br> <br>

<span>I am graduating this June with my Bachelors in Computer Engineering from the University of Washington. I am looking for full time software engineering roles. <br></span>
<span>Through my project experience and coursework at UW, I have developed skills in full stack development, systems programming, and embedded systems. <br>I am knowledgable in UNIX-like operating systems, and networking design and protocols. </span>
<div>

<button type="submit" onclick="window.open('2022_June_Noah_Staveley.pdf', '_blank')">Download My Current Resume</button>



</div>
<br> <br>
{% endblock %}